about-time==4.2.1
absl-py==2.1.0
accelerate==0.23.0
accessible-pygments==0.0.5
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.16
alembic==1.13.1
alive-progress==3.1.5
altair==5.3.0
aniso8601==9.0.1
annotated-types==0.6.0
# Editable install with no version control (anomalib==1.1.0.dev0)
-e /data/yizhou/VAND2.0/jyz/submission/anomalib-feature-mvtec-loco
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
autograd==1.6.2
av==12.0.0
Babel==2.15.0
beautifulsoup4==4.12.3
bitsandbytes==0.45.0
black==24.4.2
bleach==6.1.0
blinker==1.8.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
cityscapesScripts==2.2.2
click==8.1.7
cloudpickle==3.0.0
cma==3.2.2
cmake==3.29.3
colorama==0.4.6
coloredlogs==15.0.1
comet-ml==3.42.0
comm==0.2.2
configobj==5.0.8
contourpy @ file:///croot/contourpy_1700583582875/work
coverage==7.5.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
Cython==3.0.2
debugpy==1.8.1
decorator==5.1.1
deepspeed==0.10.3
defusedxml==0.7.1
Deprecated==1.2.14
-e git+https://www.gitclone.com/github.com/facebookresearch/detectron2.git@f3a463104ad99e55b87422b5753ea34723ee272e#egg=detectron2
diffdist==0.1
diffusers==0.18.0
dill==0.3.8
distlib==0.3.8
dnspython==2.6.1
docker==7.0.0
docker-pycreds==0.4.0
docstring_parser==0.16
docutils==0.21.2
dulwich==0.22.1
einops==0.7.0
email_validator==2.1.1
entrypoints==0.4
everett==3.1.0
exceptiongroup==1.2.1
execnet==2.1.1
executing==2.0.1
faiss-cpu==1.8.0
faiss-gpu==1.7.2
fastapi==0.111.0
fastapi-cli==0.0.3
fastjsonschema==2.19.1
ffmpy==0.3.2
filelock==3.14.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.25.0
fqdn==1.5.1
FrEIA==0.2
frozenlist==1.4.1
fsspec==2024.5.0
ftfy==6.1.1
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.5.4
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
gradio==3.42.0
gradio_client==0.5.0
grapheme==0.6.0
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.3
# Editable install with no version control (groundingdino==0.1.0)
-e /data/yizhou/VAND2.0/jyz/submission/submmision-v0/Grounded-Segment-Anything/GroundingDINO
grpcio==1.63.0
gunicorn==22.0.0
h11==0.14.0
h5py==3.11.0
hjson==3.1.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.14.1
humanfriendly==10.0
hydra-core==1.3.2
identify==2.5.36
idna==3.7
imageio==2.34.1
imagesize==1.4.1
imgaug==0.4.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
infinibatch==0.1.1
iniconfig==2.0.0
iopath==0.1.9
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
json-tricks==3.17.3
json5==0.9.25
jsonargparse==4.28.0
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jstyleson==0.0.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
keras==3.3.3
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
kmeans-pytorch==0.3
kornia==0.7.0
kornia_rs==0.1.3
lazy_loader==0.4
libclang==18.1.1
lightning==2.2.4
lightning-utilities==0.11.2
lit==18.1.4
llvmlite==0.42.0
loguru==0.7.2
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib @ file:///croot/matplotlib-suite_1713336378214/work
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.1
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
mlflow==2.12.2
mmsegmentation==1.2.2
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.5
MultiScaleDeformableAttention==1.0
munkres==1.1.4
mup==1.0.0
mypy-extensions==1.0.0
myst-parser==3.0.1
namex==0.0.8
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nbsphinx==0.9.4
nest-asyncio==1.6.0
networkx==3.1
ninja==1.11.1.1
nltk==3.8.1
nncf==2.10.0
nodeenv==1.8.0
notebook==7.2.0
notebook_shim==0.2.4
numba==0.59.1
numpy==1.22.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.7.0.84
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.20.5
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
-e git+https://github.com/google-research/omniglue.git@e46ffd379c384b296283c08c656cf60ecfa34976#egg=omniglue
onnx==1.16.0
open-clip-torch==2.24.0
openai-whisper==20231117
opencv-python==4.8.1.78
opencv-python-headless==4.9.0.80
openvino==2024.1.0
openvino-dev==2024.1.0
openvino-telemetry==2024.1.0
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.3
overrides==7.7.0
packaging==24.0
pandas==2.0.3
pandoc==2.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pathtools==0.1.2
pexpect==4.9.0
Pillow==9.4.0
platformdirs==4.2.2
pluggy==1.5.0
plumbum==1.8.3
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1712242996588/work
portalocker==2.8.2
pre-commit==3.7.1
prettytable==3.10.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==13.0.0
pycocotools==2.0.7
pycparser==2.22
pydantic==1.10.15
pydantic_core==2.18.2
pydata-sphinx-theme==0.15.2
pydensecrf==1.0
pydot==2.0.0
pydub==0.25.1
Pygments==2.18.0
pymoo==0.6.1.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyproject-api==1.6.1
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
pyquaternion==0.9.9
PySocks==1.7.1
pytest==8.2.0
pytest-cov==5.0.0
pytest-mock==3.14.0
pytest-sugar==1.0.0
pytest-xdist==3.6.1
python-box==6.1.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
pytorch-lightning==2.2.4
pytz==2024.1
PyWavelets==1.6.0
PyYAML==6.0.1
pyzmq==26.0.3
querystring-parser==1.2.4
referencing==0.35.1
regex==2023.10.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rich-argparse==1.4.0
rpds-py==0.18.1
ruff==0.4.4
safetensors==0.4.3
scikit-image==0.21.0
scikit-learn @ file:///croot/scikit-learn_1721921875708/work
scipy==1.13.0
seaborn==0.13.2
-e git+https://github.com/IDEA-Research/Grounded-Segment-Anything.git@03b196647a65c30f179c795311f4fea73a53e136#egg=segment_anything&subdirectory=segment_anything
-e git+https://github.com/UX-Decoder/Semantic-SAM.git@3d6a43a0f8e77167c0013d14067933a78e2d1f5a#egg=Semantic_SAM
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.1.99
sentry-sdk==2.2.0
setproctitle==1.3.3
Shapely==1.8.0
shellingham==1.5.4
simplejson==3.19.2
sip @ file:///croot/sip_1698675935381/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.3.7
sphinx-autodoc-typehints==2.1.0
sphinx-book-theme==1.1.2
sphinx-copybutton==0.5.2
sphinx_design==0.5.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.30
sqlparse==0.5.0
stack-data==0.6.3
starlette==0.37.2
supervision==0.20.0
sympy==1.12
tabulate==0.9.0
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
terminado==0.18.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tifffile==2024.5.10
tiktoken==0.7.0
timm==0.4.12
tinycss2==1.3.0
tokenizers==0.21.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit==0.12.0
toolz==0.12.1
torch==2.3.0+cu118
torchaudio==2.3.0+cu118
torchmetrics==1.4.0.post0
torchvision==0.18.0+cu118
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827254365/work
tox==4.15.0
tqdm==4.66.4
traitlets==5.14.3
transformers==4.47.1
triton==2.3.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typeshed_client==2.5.1
typing==3.7.4.3
typing_extensions==4.11.0
tzdata==2024.1
ujson==5.10.0
uri-template==1.3.0
urllib3==2.2.1
uvicorn==0.29.0
uvloop==0.19.0
virtualenv==20.26.2
vision-datasets==0.2.2
wandb==0.15.12
watchfiles==0.21.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.3
wget==3.2
widgetsnbextension==4.0.10
wrapt==1.16.0
wurlitzer==3.1.0
yacs==0.1.8
yapf==0.40.2
yarl==1.9.4
zipp==3.18.2
